[Unit]
Description=Candida Website
Requires=After=mongodb.service

[Service]
ExecStart=/usr/local/bin/node /home/candida/candida-website/app/server.js
WorkingDirectory=/home/candida/candida-website/
Restart=always
RestartSec=10 
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=candida
User=candida

[Install]
WantedBy=multi-user.target
