[Unit]
Description=Giraffe Browse
Requires=After=mongodb.service

[Service]
Environment=PORT=3000
ExecStart=/usr/bin/node /home/giraffe/giraffe-browse/app/server.js
WorkingDirectory=/home/giraffe/giraffe-browse/
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=giraffe
User=giraffe

[Install]
WantedBy=multi-user.target
