extend ../header

block content 
  
  include ../mixins

  pre
    +searchForm(options)

    div.col-md-9.info
      p
        | Search for a gene by ID, Name, Product or Locustag.
        | 
        | Created by Owen Garland (garland.owen@gmail.com).

  if data
    if data[0]._id
      +listItems(data)
    else
      +display(data[0])
      div.hidden-box
  if error
    pre=error
