extend ../header

block content 

  include ../mixins

  div.splash
    a(href='https://www.aber.ac.uk/en/ibers/')
      center
        img.header-image(src='/images/aberuni.svg')

    pre
      | This is a demo of the GFF browser. WIP.
      |

  div.row
    div.col-md-3.margin
    +searchForm(options)
    div.col-md-3.margin

