extend ../header

block content 

  include ../mixins

  div.splash
    a(href='https://www.aber.ac.uk/en/ibers/')
      center
        img.header-image(src='/images/aberuni.svg')

    pre
      | This is a demo version of my final year project made for my Software Engineering degree. 
      | 
      | It was built to show genomic data using MongoDB and Node.js.
      |
      | To see some data, search for a term such as "cytochrome b5" or "glucose".
      | 
      | You can read the full writeup 
      a(href='http://files.owen.cymru/dissertation.pdf') here.

  div.row
    div.col-md-3.margin
    +searchForm(options)
    div.col-md-3.margin

