extend ../header

block content 

  include ../mixins

  div.splash
    a(href='https://www.aber.ac.uk/en/ibers/')
      center
        img.header-image(src='/images/aberuni.svg')

    pre
      | This is a demo page for the tool GiraFFe Browse, it is displaying data for <i>Escherichia coli</i>, from European Nucleotide Archive. 
      |
      | You can download the source <a href="ftp://ftp.ensemblgenomes.org/pub/bacteria/release-38/fasta/bacteria_90_collection/escherichia_coli_k_12/dna/Escherichia_coli_k_12.ASM80076v1.dna.chromosome.Chromosome.fa.gz">FASTA</a>, and <a href="ftp://ftp.ensemblgenomes.org/pub/bacteria/release-38/gff3/bacteria_90_collection/escherichia_coli_k_12/Escherichia_coli_k_12.ASM80076v1.38.chromosome.Chromosome.gff3.gz">GFF</a> from Ensembl. 
      |
      | The project is available on <a href="https://github.com/bag-man/giraffe-browse">Github</a>, and was developed by Owen Garland.
      |
      center 
        a(href="/hit")
          button.form-control.btn-primary Click here to start querying


