.infobox
  color red

.external
  background-color #ededed

hr
  border-color #FF0000
  margin 0px

.plusminus
  padding-right 0px

.form-control
  height 30px

.col-sm-9
  padding 0px

.control-label
  padding 0px

.highlight
  color red

span
  overflow-y scroll
  word-break break-all

.sequence
  overflow-y scroll
  overflow-x hidden
  word-break break-all
  height 100px
  padding 0

select
  text-align-last center 

img
  margin-right 20px
