.infobox
  color red
  display inline-block
  padding-right 18%

.external 
  background-color #ededed

.splash
  word-break keep-all
  margin-left 25%
  margin-right 25%

.header-image
  padding 10px
  width 60%

.header
  background-color #ededed
  text-align right

.plusminus
  padding-right 0px
  float left

.col-md-6
  margin-top 5px
  padding 0px

.buttoninfo
  padding-top 5px
  text-align center

.form-control
  height 30px

.form-group
  margin 0px

.col-sm-9
  padding 0px

.control-label
  padding 0px

.highlight
  color red

.btn
  width 100%
  margin-top 5px

.sequence
  overflow-y scroll
  overflow-x hidden
  word-break break-all
  height 100px
  padding 0

pre 
  white-space pre-wrap
  word-break break-word

span
  overflow-y scroll
  word-break break-all

select
  text-align-last center 

textarea.form-control
  height 70px

p
  word-break keep-all
  margin-top 10px

body
  overflow-x hidden
