.infobox
  color red

.external
  background-color #ededed

.plusminus
  padding-right 0px
  width 50px

.form-control
  height 30px

.form-group
  margin 0px

.col-sm-9
  padding 0px

.control-label
  padding 0px

.highlight
  color red

pre 
  white-space pre-wrap

span
  overflow-y scroll
  word-break break-all

.sequence
  overflow-y scroll
  overflow-x hidden
  word-break break-all
  height 100px
  padding 0

select
  text-align-last center 

textarea.form-control
  height 70px

p
  word-break keep-all

img
  // margin-left 40px
  margin-top 10px
