extend header

block content 
  pre
    form(action='/hit', method='GET')
      div
        label Gene Name: 
        input(type='text', name='name', width='20')
      div
        label UniprotID: 
        input(type='text', name='uniprot')
      div.area
        label(for='sequence') Sequence:  
        textarea(name='sequence')
      div
        label Species:   
        select(name='species')
          option(default, value='') -- select --
          option(value='shehate') shehate
          option(value='tropicalis') tropicalis
          // option(value='boidinii') boidinii

      div
        button.search search

